.clear {
  clear: both;
}

#PageWrapper {
}

#MainNavbar {
  background: #eee;
  margin: 0;
  border-radius: 0;
}

.row [class*="col-xs-"] {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #333;
  background: #ccc;
}

main #MainMenuWrap {
  height: 100vh;
  background: #F8F8F8;
}
main #MainContent {
  padding: 20px;
}

/** Product **/
#ProductControls {
  margin: 10px 0;
}

#ProductControls a {
  float: right;
  margin-left: 5px;
}

#ProductForm h3 {
  margin: 0;
  margin-left: 10px;
  line-height: 34px;
  display:inline-block;
}

#ProductForm .tab-pane {
  padding-top: 20px;
}

/** Google Book **/
#GBookSearch input[type=text] {
  margin-bottom: 5px;
}
#GBookSearch select {
  float: left;
  margin: 0 10px;
}

#GBookSearchResult {
  margin-top: 10px;
}

#GBookSearchResult h4 {
  padding: 0;
  margin: 5px 5px 5px 0;
}

.gBookInfoGrid {
  margin-top: 10px;
}
.gBookInfoGrid td {
  padding: 2px 15px 2px 0;
}
.gBookInfoGrid td:first-child {
  font-weight: bold;
}
