#PageWrapper {
  width: 1200px;
  margin: 0 auto;
}

main {
  padding: 0 10px;
}

hr.underline {
  margin-top: -5px;
  height: 1.5px;
  border: 0;
  color: #efefef;
  background: #efefef;
}

#ProductList ul {
  list-style: none;
}
