#PageWrapper {
  width: 1200px;
  margin: 0 auto;
}

main {
  padding: 0 10px;
}

hr.underline {
  margin-top: -5px;
  height: 1.5px;
  border: 0;
  color: #efefef;
  background: #efefef;
}

.product-list ul {
  list-style: none;
}

.product-list .product-list-cell {
  margin-top: 30px;
  height: 250px;
}
.product-list .image-container {
  text-align: center;
  height: 200px;
}
.product-list .image-container img {
  height: 100%;
}
.product-list .product-price {
  background: #eee;
  padding: 5px;
  border: 1px solid #ddd;
  min-width: 60px;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 0;
}

.product-list .product-name-container {
  margin-top: 5px;
  text-align: center;
}

.product-list .product-name {
  color: #333;
}

#Product #Left .image-container img {
  width: 100%;
}

#Product #Right .author-list {
  margin-left: 5px;
}

#Product #Right .product-name {
  margin: 0;
}

#Product #Right .product-price {
  font-size: 1.5em;
  margin: 5px 0;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 0;
  width: 160px;
}

#Product #Right .product-info {
  margin-top: 20px;
}

#Product #Right .product-info .product-details {
  margin-top: 8px;
  padding: 0;
}

#Product #Reviews {
  margin-top: 50px;
}

.star {
  font-size: 20px;
}
.star.active {
  color: #ffce00;
}

#LoginForm table td ,
#RegisterForm table td {
  padding: 5px;
}

#PageFooter {
  height: 100px;
  margin-top: 70px;
  background: #e7e7e7;
  border-top: 1px solid #cfcfcf;
}

#PageFooter .menu-column {
  list-style: none;
  padding-top: 30px;
}

#PageFooter .menu-column li {
  margin: 0px 20px;
  display: inline-block;
}
