{% include('admin/common/header.html') %}

    {% if errors %}
    <div class="alert alert-danger" role="alert">
       <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
       </ul>
    </div>
    {% endif %}

    <div id="AuthorControls">
      <a href="{{ webpath('Admin::AuthorController','add') }}">
        <button type="button" class="btn btn-primary"><span class="fa fa-plus"></span> Add Author</button>
      </a>
      <div class="clear"></div>
    </div>

    <table class="table " style="margin-top: 10px">
      <thead>
        <th>Author Name</th>
        <th style='width: 15%'>Created at</th>
        <th style='width: 15%'>Updated at</th>
        <th style='width: 12%'>Action</th>
      </thead>
      
      {% for author in authors %}
      <tr>
        <td>
          <a href="{{ webpath('Admin::AuthorController','show', [author.id]) }}">{{ author.name }}</a>
        </td>

        <td>{{ author.created_at.format("d-m-Y") }}</td>
        <td>{{ author.updated_at.format("d-m-Y") }}</td>

        <td style="text-align: left">
          <a href="{{ webpath('Admin::AuthorController','edit', [author.id]) }}">
            <span class="fa fa-stack">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x"></i>
          </span>
        </a>

        <a href="{{ webpath('Admin::AuthorController','delete', [author.id]) }}">
          <span class="fa fa-stack">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-trash fa-stack-1x"></i>
          </span>
        </a>
        </td>
      </tr>
      {% endfor %}
    </table>

{% include('admin/common/footer.html') %}
