{% include('admin/common/header.html') %}

<div id="ProductForm">

  <a class="btn btn-default" onclick="history.back(); return false;"><span class="fa fa-reply"></span> Return</a>
  <h3>Create Product</h3>

  <form action="{{ webpath('Admin::ProductController','create') }}" method="post">
    
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="','maininfo" aria-controls="maininfo" role="tab" data-toggle="tab">Product Information</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="maininfo">
          {% include('admin/product/_maininfo_form.html') %}
        </div>

      </div>
    </div>
    <input type="submit" class="btn btn-primary" name="submit" value="Save">

  </form>

</div>

{% include('admin/common/footer.html') %}

