{% include('admin/common/header.html') %}

<div id="ProductForm">

  <div style="margin-bottom: 20px;">
    <a class="btn btn-default" onclick="history.back(); return false;"><span class="fa fa-reply"></span> Back</a>
    <h3>Edit Product</h3>
  </div>

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{ method == 'edit' ? 'active' : ''}} ">
          <a href="{{ webpath('Admin::ProductController', 'edit', [product.id]) }}">Basic Information</a>
        </li>

        <li role="presentation" class="{{ method == 'editPictures' ? 'active' : ''}}">
          <a href="{{ webpath('Admin::ProductController', 'editPictures', [product.id]) }}" role="tab">Pictures</a>
        </li>

        <li role="presentation" class="{{ method == 'editAuthors' ? 'active' : ''}}">
          <a href="{{ webpath('Admin::ProductController', 'editAuthors', [product.id]) }}" role="tab">Authors</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="maininfo">
          {% block form %}{% endblock%} 
    
        </div>

      </div>
    </div>


</div>

{% include('admin/common/footer.html') %}

