{% include('admin/common/header.html') %}

<div id="GBookSearch">
  <form action="{{ webpath('Admin\\ProductController#importGoogle') }}" method="get" class="form-inline">
    <h3>Search Google Book</h3>
    <input type="text" class="form-control" placeholder="Name, author, publisher, year..." style="width: 400px" name="keywords" id="keywords" />
    <button class="btn btn-primary">Search</button>
  </form>
</div>

{% if books %}
<table class="table table-striped" id="GBookSearchResult">
  <tr>
    <th>Action</th>
    <th>Image</th>
    <th>Information</th>
  </tr>
  {% for book in books %}
  <tr>
    <td>
      <form action="{{ webpath('Admin\\ProductController#addFromGoogle') }}" method="post">
        <input type="hidden" name="book_id" id="book_id" value="{{ book.id }}" />
        <button type="submit" class="btn btn-default"><span class="fa fa-cloud-download"></span> Save</button>
      </form>
    </td>
    <td><a href="{{ book.getInfoLink }}" target="_blank"><img src="{{ book.getThumbnail }}" /></a></td>
    <td>
      <h4>{{ book.getTitle }}</h4>
      <span>{{ book.getAuthors | join(', ') }}</span>
      <table class="gBookInfoGrid">
        <tr>
          <td>Google Book ID</td>
          <td>{{ book.getId }}</td>
        </tr>
        <tr>
          <td>Published</td>
          <td>{{ book.getPublishedDate | date('Y') }} by {{ book.getPublisher }}</td>
        </tr>
        {% if(book.getCategories) %}
        <tr>
          <td>Categories</td>
          <td>{{ book.getCategories | join(', ') }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Pages</td>
          <td>{{ book.getPageCount }}</td>
        </tr>
        <tr>
          <td>Language</td>
          <td>{{ book.getLanguage }}</td>
        </tr>

        {% if(book.getListPrice) %}
        <tr>
          <td>List price</td>
          <td>{{ book.getListPrice }} {{ book.getListPriceCurrency }}</td>
        </tr>
        {% endif %}
      </table>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% include('admin/common/footer.html') %}
